<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
        <input type="hidden" name="next" value="{{ request.path }}">
      </form>
    </li>
  {% else %}
    <li class="list-group-item">
      <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
    </li>
  {% endif %}
  <li class="list-group-item">
    <a href="{% url 'workshop:index' %}">Home</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'workshop:manager-list' %}">Managers</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'workshop:mechanic-list' %}">Mechanics</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'workshop:vehicle-list' %}">Vehicles</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'workshop:client-list' %}">Clients</a>
  </li>
</ul>
